* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display:flex;
}

section {
    height: 100%;
}

section:first-of-type {
    width: 40%;
}

section:last-of-type {
    width: 60%;
}

section:first-of-type div  {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section:first-of-type div div img {
    height: 150px;
    width: auto;
}

section:last-of-type > div:nth-of-type(1) p {
    margin-bottom: 30px;
}

section:last-of-type > div:nth-of-type(1) {
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(247, 247, 247);
}

section:last-of-type > div:nth-of-type(2) {
    padding-left: 40px;
}
