* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
}


section:first-of-type {
    width: 40%;
    position: relative;
}

section:last-of-type {
    width: 60%;
}

.creditos {
    position: absolute;
    bottom: 20px;
    color: #ffff;
    width: 100%;
    text-align: center;
    font-size: 12px; 
} 

.logo-sect{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.438);
    width: 100%;
    height: 130px;
    top: 185px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffff;
}

.logo-text {
    font-size: 50px;
}

section:first-of-type div img{
    width: 100%;
    object-fit: cover;
}

section:first-of-type div div img {
    
    height: 110px;
    width: auto;
}

section:last-of-type>div:nth-of-type(1) p {
    margin-bottom: 30px;
}

section:last-of-type>div:nth-of-type(1) {
    padding-top: 150px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 150px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(247, 247, 247);

}

form h2 {
    margin: 18px 0;
    font-size: 20px;
    padding-left: 40px;
    font-weight: 500;
}

fieldset div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


fieldset {
    display: flex;
    border: 0;
    gap: 50px;
    padding-left: 40px;
}

label {
    font-size: 11px;
    margin-bottom: 3px;
}

input {
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 1px #2563eb;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border-color: #dc2626;
    box-shadow: 0 0 0 1px #dc2626;
}

.button {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
    padding-left: 40px;
    padding-bottom: 115px;
}


.button button {
    margin: 30px 0;
    padding: 10px 40px;
    border-radius: 7px;
    border: 0;
    background-color: rgb(73, 110, 73);
    color: #ffff;
}

a {
    color: rgb(73, 110, 73);
    text-decoration: none;
}

